[submodule "ext_libs/vowpal_wabbit"]
	path = ext_libs/vowpal_wabbit
	url = https://github.com/VowpalWabbit/vowpal_wabbit.git
	branch = master
[submodule "ext_libs/zstd"]
	path = ext_libs/zstd
	url = https://github.com/facebook/zstd.git
	branch = master
[submodule "ext_libs/pybind11"]
	path = ext_libs/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "ext_libs/cpprestsdk"]
	path = ext_libs/cpprestsdk
	url = https://github.com/microsoft/cpprestsdk.git
	branch = master
[submodule "ext_libs/openssl"]
	path = ext_libs/openssl
	url = https://github.com/openssl/openssl.git
