*.o
*.a
*.out

.DS_Store

# build folders
**/x64
**/obj
**/Debug
**/Release
**/bin

# VS files
*.vcxproj.user
*.csproj.user
*.VC.db
.vs

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages

build
/rlclientlib/generated
/external_parser/generated
/.vscode
/bindings/cs/rl.net/InternalsVisibleToTest.cs
/bindings/cs/rl.net.cli/InternalsVisibleToTest.cs
/test_tools/log_parser/reinforcement_learning/
