*.o
*.a
*.out

.DS_Store

# build folders
**/x64
**/obj
**/Debug
**/Release
**/bin

# VS files
*.vcxproj.user
*.csproj.user
*.VC.db
.vs
# VS CMake configuration
CMakeSettings.json

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages
# Ignore nuget_staging directory used for building the nuget package
nuget_staging/

build
ext_deps
/rlclientlib/generated
/external_parser/generated
/.vscode
/bindings/cs/rl.net/InternalsVisibleToTest.cs
/bindings/cs/rl.net.cli/InternalsVisibleToTest.cs
/test_tools/log_parser/reinforcement_learning/
_build
.idea
dist/
rl_client.egg-info/

.cache

# Unit test outputs
interaction.fb.data
interaction.txt
observation.fb.data
observation.txt
